@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import 'tailwindcss';

@theme {
  --font-family: 'Courgette', serif;
  --font-display: 'Courgette', serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
